<div ng-controller = "loginCtrl">


        <span id="googleSignIn">
            <span id="signInButton">
            </span>
        </span>

    <!-- Don't forget to place the script that does the asynchronous loading of Google+ JavaScript API.
         Because it is loaded asynchronously, it might take some time to load.
         Place some loading notification, so user won't get confused.
         You can use ng-show and ng-hide to show or hide your notification and accomplish best user experience. -->
    <script>// <![CDATA[
    (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/client:plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
    </script>


</div>